{% extends "base.html" %}
{% block title %}在庫追加{% endblock %}
{% block content %}

    <h1 style="margin-left: 36%;">在庫追加</h1>
    <form method="post">
        <table>
            <tr>
                <th>商品名</th>
                <td>
                    <input type="text" name="name" required placeholder="例: コーヒー豆" style="width:90%;">
                </td>
            </tr>
            <tr>
                <th>在庫数</th>
                <td>
                    <input type="number" name="quantity" required min="0" placeholder="例: 10" style="width:90%;">
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align:center; padding-top:18px;">
                    <button type="submit" class="add-btn">追加</button>
                </td>
            </tr>
        </table>
    </form>

    <!-- ここでボタンの上に余白をたっぷり入れる -->
    <div style="height: 2.8em;"></div>


        <a href="{{ url_for('index') }}" class="add-btn" style="margin-left: 65%;">一覧に戻る</a>
    </div>

{% endblock %}
