{% extends "base.html" %}
{% block title %}在庫一覧{% endblock %}
{% block content %}

    <h1 style="margin-left: 31%;">カフェ在庫一覧</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>商品名</th>
            <th>在庫数</th>
            <th>操作</th>
            <th>削除</th>  <!-- 削除列追加 -->
        </tr>
        {% for item in inventory_list %}
        <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.quantity }}</td>
            <td>
                <div class="button-group">
                    <form action="{{ url_for('update_quantity', item_id=item.id, action='minus') }}" method="post" style="display:inline;">
                        <button class="update-btn" type="submit">−</button>
                    </form>
                    <form action="{{ url_for('update_quantity', item_id=item.id, action='plus') }}" method="post" style="display:inline;">
                        <button class="update-btn" type="submit">＋</button>
                    </form>
                </div>
            </td>
            <td>
                <form action="{{ url_for('delete_item', item_id=item.id) }}" method="post" style="display:inline;">
                    <button class="delete-btn" type="submit" onclick="return confirm('本当に削除しますか？')">削除</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>

<a href="{{ url_for('add_item') }}" class="add-btn" style="margin-left: 65%;">商品を追加する</a>

<br><br><br>
<a href="{{ url_for('register') }}" class="register-link">新規登録はこちら</a>
{% endblock %}